
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div>

     
        <center>



            <form method="post" style="width:50%;">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="Email">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>


        </center>

        @{ 
            if (TempData["msg"] != null)
            {
                <script>alert('@TempData["msg"]');</script>
            }
        }



    </div>
</body>
</html>
