
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>show_data</title>
</head>
<body>
    <div> 

        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>

            @{
                foreach (System.Data.DataRow dr in  ViewBag.emp.Rows)
                {
                    <tr>
                        <td>@dr["Id"]</td>
                        <td>@dr["Name"]</td>
                        <td>@dr["Email"]</td>
                        <td>
                            <a href="/home/update_data?id=@dr["Id"]">Edit</a>
                            &nbsp;/&nbsp;
                            <a href="/home/delete_record?id=@dr["Id"]">Delete</a>
                            &nbsp;/&nbsp;
                            <a href="/home/add_data">Add Data</a>
                        </td>
                    </tr>
                }
            }

        </table>

        @{ 
            if(TempData["msg"] != null)
            {
                <script>alert('@TempData["msg"]');</script>
            }
        }

        

    </div>
</body>
</html>
