
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>update_data</title>
</head>
<body>
    <div>

        <center>

            @{
                foreach (System.Data.DataRow dr in ViewBag.showRecordById.Rows)
                {
                    <form method="post" style="width:50%;">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" value='@dr["Name"]' name="Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" value='@dr["Email"]' name="Email">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                }

            }


        </center>


    </div>
</body>
</html>
